<%=link_to tag_path(tag_pill_interactions), class: 'btn btn-primary mx-1 my-1' do %>
<%=tag_pill_interactions.name%> 
<span class="badge bg-secondary"><i class="fa-solid fa-tag"></i> <%=tag_pill_interactions.count%></span>
<%end%>
