<div class="flex flex-row even:bg-gray-50 odd:bg-white border-b border-gray-200 hover:bg-blue-100">
  <div class="w-1/2 py-3 px-6 text-left flex items-center">
    <span class="font-medium text-gray-800"><%= link_to entry.title, entry.url, target: '_blank' %></span>
  </div>
  <div class="w-1/4 py-3 px-6 text-left flex items-center">
    <span class="text-gray-600"><%= entry.site.name %></span>
  </div>
  <div class="w-1/6 py-3 px-6 text-left flex items-center"> <!-- Cambiado a text-left -->
    <span class="text-gray-600"><%= entry.total_count %></span>
  </div>
</div>
