<div class="flex justify-between items-center mb-4">
  <div>
    <span class="font-semibold">Fecha:</span> <%= entries_date.strftime("%d/%m/%Y") %> | 
    <span class="font-semibold">Tópico:</span> <%= topic %>
  </div>

  <button type="button" class="inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
    data-action="modal#closeModal">
    Cerrar
  </button>
</div>

<table class="min-w-full bg-white border border-gray-200 shadow-md rounded-lg">
  <thead>
    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
      <th class="py-3 px-6 text-left">Notas</th>
      <th class="py-3 px-6 text-left">Medios</th>
      <th class="py-3 px-6 text-left">Interacciones</th>
    </tr>
  </thead>
  <tbody class="text-gray-600 text-sm font-light">
    <%= render partial: 'home/chart_entry', collection: topic_entries, as: :entry %>
  </tbody>
</table>
