<% if newspaper.cover.present? %>
  <div class="group relative rounded-md w-[300px] h-[600px] bg-white-200 flex flex-col items-center justify-center overflow-hidden">
    <div class="flex items-center justify-center w-full h-full">
      <%= link_to image_tag(newspaper.cover, loading: 'lazy', title: "Click para ver en tamaño completo", class: 'max-w-full max-h-full object-contain'), url_for(newspaper.cover), target: '_blank' %>
    </div>
    <div class="mt-4 flex justify-between w-full">
      <div>
        <h3 class="text-sm text-gray-700">Portada</h3>
        <h3 class="px-1 text-sm">
          <i class="fa-regular fa-newspaper"></i> <%= link_to newspaper.site.name, newspaper.site %>
        </h3>
      </div>
    </div>
  </div>
<% end %>

<% if newspaper.backcover.present? %>
  <div class="group relative rounded-md w-[300px] h-[600px] bg-white-200 flex flex-col items-center justify-center overflow-hidden">
    <div class="flex items-center justify-center w-full h-full mt-6">
      <%= link_to image_tag(newspaper.backcover, loading: 'lazy', title: "Click para ver en tamaño completo", class: 'max-w-full max-h-full object-contain'), url_for(newspaper.backcover), target: '_blank' %>
    </div>
    <div class="mt-4 flex justify-between w-full">
      <div>
        <h3 class="text-sm text-gray-700">Contra Tapa</h3>
        <h3 class="px-1 text-sm">
          <i class="fa-regular fa-newspaper"></i> <%= link_to newspaper.site.name, newspaper.site %>
        </h3>
      </div>
    </div>
  </div>
<% end %>
