<div class="my-2">
  <h2>Interacciones de la última semana</h2>
  <%= render partial: "site/site_pill", collection: @sites, cache: true %>
</div>

<hr>

<div class="my-2">
  <h3>Apariciones Etiquetas HOLA</h2>
  <%= render partial: "tag/tag_pill", collection: @tags, cache: true %>
  <p><small class="text-muted px-1">*Cantidad de veces que aparecen las etiquetas en las notas</small></p>
</div>
<hr>
<div class="my-2">
  <h3>Interacciones Etiquetas</h2>
  <%= render partial: "tag/tag_pill_interactions", collection: @tags.to_a.sort_by(&:interactions).reverse, cache: true %>
  <p><small class="text-muted px-1">*Interacciones en las notas</small></p>
</div>

<hr>

<h3>Notas recientes</h3>
<div class="row" data-masonry='{"percentPosition": true }'>
  <%= render partial: "entry/entry", collection: @entries, cache: true %>
</div>