<div class="my-2">
  <h3>Etiquetas en notas populares</h3>
  <%= render partial: "tag/tag_pill", collection: @tags, cache: true %>
</div>

<hr>

<h3>Notas populares 24hrs</h3>
<div class="row" data-masonry='{"percentPosition": true }'>
  <%= render partial: "entry/entry", collection: @entries, cache: true %>
</div>