<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Resumen Semanal</li>
  </ol>
</nav>

<% Date.today.to_date.downto(1.week.ago.to_date) do |date| %>
  <h2>Noticias Populares del: <%= date %></h2>
  <hr>
  <div class="row" data-masonry='{"percentPosition": true }'>
  <%= render partial: "entry/entry_list", collection: Entry.where(published_date: date.to_date).order(total_count: :desc).limit(10), cached: true %>
  </div>
<% end %>